body[page='image'] #image-view-container {
  background-color: var(--surface-container);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 109;
}
body[page='image'] #image-view {
  background-color: #000000;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
}

body[page='image'] #source-image {
  visibility: hidden;
}

body[page='image'] #controls-bg {
  position: fixed;
  top: calc(100vh - 80px);
  left: 0;
  width: 100vw;
  height: 80px;
  /* background-color: #CCCCCC; */
  /* background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.9054122625612745) 62%,
    rgba(0, 0, 0, 0.8409864922531513) 78%,
    rgba(0, 0, 0, 0.7933674446341037) 85%,
    rgba(0, 0, 0, 0.6281013381915266) 92%,
    rgba(0, 0, 0, 0.3031713662027311) 97%,
    rgba(0, 0, 0, 0) 100%
  ); */
}

body[page='image'] #controls {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: calc(100vh - 80px);
  left: 0;
  width: 100vw;
  height: 80px;
  color: #d5e8cf; !important;
}

body[page='image'] #controls a {
  flex-direction: column;
}
