body[page='image'] #image-view-container {
  background-color: var(--surface-container);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 109;
}
body[page='image'] #image-view {
  background-color: #000000;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
}

body[page='image'] #source-image {
  visibility: hidden;
}

body[page='image'] #controls-bg-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--status-bar-height);
  z-index: 102;
}

body[page='image'] #controls-bg-bottom {
  position: fixed;
  top: calc(100vh - 80px);
  left: 0;
  width: 100vw;
  height: 80px;
}

body[page='image'] #controls {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: calc(100vh - 80px);
  left: 0;
  width: 100vw;
  height: 80px;
  color: #d5e8cf !important;
}

body[page='image'] #controls a {
  flex-direction: column;
}
